@{
    ViewData["Title"] = "Home Page";
}

<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="slider-active slick-initialized slick-slider">
        <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 1349px;">
                <div class="single-slider slider-height d-flex align-items-center slick-slide slick-current slick-active" data-background="/img/hero/h1_hero.jpg" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 1349px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1; background-image: url(&quot;/img/hero/h1_hero.jpg&quot;);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Find the most exciting startup jobs</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                        <div class="row">
                            <div class="col-xl-8">
                                <form action="../Home/SearchJobs" method="get" class="search-box">
                                    <div class="input-form">
                                        <input type="text" id="query" name="query" placeholder="Job Title" tabindex="0">
                                    </div>
                                    <div class="search-form">
                                        <input type="submit" id="submit" value="Search">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>